<%- include('../includes/head.ejs') %>
</head>
<body>
    <%- include('../includes/navbar.ejs') %>
    <div class="signup-page">
        <form action="/laptop/signup" method="post">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <div class="signup-form">
                <h1 class="signup-welcome">Welcome!</h1>
                <h3 class="signup-form-info">Please fill the form to create your account.</h3>
                <hr class="signup-form-top-end">
                <div class="signup-email-container">
                    <input type="text" placeholder="Email" class="signup-form-input  signup-email-input <% if (emailError) { %>
                        signup-email-input-error
                    <% } %>" name="email">
                    <% if (emailError) { %>
                        <div class="signup-email-error">
                            <%= emailError.msg %>
                        </div>
                    <% } %>
                </div>
                <div class="signup-password-container">
                    <input type="password" id="password" placeholder="Password" class="signup-form-input <% if (passwordError) { %>
                        signup-password-input-error
                    <% } %>" name="password">
                    <span class="signup-toggle-password" id="signup-toggle-password">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                    </span>
                    <% if (passwordError) { %>
                        <div class="signup-password-error">
                            <%= passwordError.msg %>
                        </div>
                    <% } %>
                </div>
                <div class="signup-password-container">
                    <input type="password" id="confirmPassword" placeholder="Confirm Password" class="signup-form-input" name="confirmPassword">
                    <span class="signup-toggle-confirmPassword" id="signup-toggle-confirmPassword">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                    </span>
                </div>
                <div class="ask-login">Already a member. <a href="/laptop/login">Log In</a></div>
                <button class="signup-form-btn">Sign Up</button>
            </div>
        </form>
        <script src="/scripts/signup.js"></script>
    </div>
</body>